<div
  class="sl-containter overflow-hidden lg:w-full w-full"
  data-aos="zoom-in-right"
  data-aos-delay="100"
>
  <div class="sl-wrapper flex">
    <img src="/images/image.png" alt="hero Image 1" />
    <img src="/images/image.png" alt="hero Image 1" />
    <img src="/images/image.png" alt="hero Image 1" />
    <img src="/images/image.png" alt="hero Image 1" />
  </div>
</div>
