<header
  class="mx-auto bg-white w-full z-20 top-0 start-0 border-b border-gray-200"
>
  <nav
    class="flex flex-wrap items-center justify-between mx-auto px-10 py-3"
    style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
  >
    <div class="left logoImg">
      <a href="/" class="logo" title="LekhaPadi">
        <svg
          height="50px"
          viewBox="0 0 204 71"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M148.311 49.9583C134.697 44.6158 122.817 42.128 110.836 42.128C95.8098 42.128 86.1179 45.9311 75.8585 49.9583C67.4908 53.253 57.9754 56.9876 47.7791 56.9876C41.9904 56.9876 32.0147 55.7687 17.1774 49.9583C16.7393 49.7946 15.9699 49.6691 15.0345 49.6088C14.099 49.5485 13.0724 49.5581 12.1752 49.6357C11.278 49.7132 10.582 49.8525 10.2368 50.0236C9.89166 50.1946 9.92488 50.3838 10.3293 50.5504C23.9182 55.8929 35.7982 58.3807 47.7791 58.3807C62.8056 58.3807 72.4975 54.5776 82.7569 50.5504C91.1246 47.2557 100.64 43.5211 110.836 43.5211C116.625 43.5211 126.632 44.74 141.438 50.5504C141.876 50.7141 142.646 50.8396 143.581 50.8999C144.516 50.9603 145.543 50.9506 146.44 50.8731C147.337 50.7955 148.033 50.6562 148.379 50.4851C148.724 50.3141 148.691 50.1249 148.286 49.9583H148.311Z"
            fill="#F0C70E"
          />
          <path
            opacity="0.8"
            d="M151.838 47.7898C151.838 47.7898 150.004 45.0902 149.79 43.9113C149.575 42.7324 149.304 40.7688 149.575 40.7688C149.843 40.7688 150.869 42.6836 151.03 42.5859C151.191 42.4883 150.169 39.4922 150.276 38.411C150.383 37.3298 151.137 35.4638 151.298 35.5614C151.459 35.6591 152.485 38.6063 152.914 39.2934C153.342 39.9805 154.583 41.7489 154.583 41.7489C154.583 41.7489 157.871 41.993 159.754 42.8301C161.642 43.6637 165.144 45.6274 165.091 46.0703C165.037 46.5133 159.701 46.6598 158.085 46.5621C156.47 46.4644 155.069 46.0703 155.069 46.0703C155.069 46.0703 157.603 47.4445 157.496 47.741C157.389 48.0375 155.555 48.1839 154.315 48.1839C153.078 48.1805 151.838 47.7898 151.838 47.7898Z"
            fill="#E9D400"
          />
          <path
            d="M154.992 31.1423C157.09 28.5892 161.427 23.5667 171.901 17.4525C181.655 11.7569 191.26 11.5441 192.531 12.6428C193.151 13.1764 193.453 14.1286 193.22 16.1097C193.04 17.6234 192.217 19.7999 190.605 21.181C190.196 21.5298 189.296 21.9798 188.259 22.3425C186.72 22.8796 185.545 22.9005 185.545 23.2912C185.545 23.6818 186.678 23.9783 187.753 23.8318C188.833 23.6853 189.962 23.2912 189.962 23.2912L187.267 26.1408C187.267 26.1408 185.675 26.0396 184.733 25.8478C183.845 25.6664 182.578 25.0525 182.363 25.492C182.149 25.935 183.091 26.3675 183.952 26.7128C184.813 27.0581 186.027 27.2708 186.027 27.2708C186.027 27.2708 179.561 32.0352 177.835 33.9012C176.108 35.7672 170.343 41.5605 168.781 42.4464C167.219 43.3289 166.033 44.2636 163.23 44.2148C160.428 44.166 152.627 44.2427 152.627 44.2427C152.627 44.2427 152.768 39.2516 152.768 37.2879C152.768 35.3173 153.924 32.4468 154.992 31.1423Z"
            fill="#E9D400"
          />
          <path
            d="M160.846 32.0387C160.846 32.0387 161.611 30.0297 161.286 28.9973C160.964 27.9649 159.563 26.7581 159.563 26.7581C159.563 26.7581 157.404 29.0601 156.948 30.518C156.286 32.6456 156.554 33.685 157.358 35.0906C158.307 36.7438 162.58 37.1624 164.842 36.7543C166.128 36.5206 168.559 35.673 168.559 35.673C168.559 35.673 166.404 32.8235 164.463 32.2375C162.522 31.6516 160.846 32.0387 160.846 32.0387ZM167.648 20.48C167.648 20.48 168.571 21.1217 168.781 22.8378C168.915 23.9434 168.46 25.4153 168.46 25.4153C168.46 25.4153 170.332 25.356 172.07 26.0047C174.711 26.9883 175.951 29.0008 175.951 29.0008C175.951 29.0008 174.01 29.8344 171.89 30.1309C170.446 30.3297 168.027 30.2773 165.818 29.0008C164.536 28.2614 164.256 28.1672 164.256 28.1672C164.256 28.1672 163.9 24.8084 164.903 23.0854C166.01 21.1671 167.648 20.48 167.648 20.48Z"
            fill="white"
          />
          <path
            d="M172.847 21.8403C172.847 21.8403 172.414 20.4556 173.049 19.0919C173.681 17.7316 175.664 15.9144 175.664 15.9144C175.664 15.9144 176.698 17.5712 176.916 18.3455C177.237 19.4755 176.269 20.8986 176.269 20.8986C176.269 20.8986 178.049 21.1567 179.125 21.8298C181.552 23.3505 181.873 25.4642 181.873 25.4642C181.873 25.4642 178.581 25.1293 176.809 24.6794C174.294 24.0411 172.766 22.8622 172.766 22.8622L172.847 21.8403ZM180.545 18.2792C180.545 18.2792 181.494 19.3953 183.642 19.7022C185.292 19.9359 188.071 19.9638 188.071 19.9638C188.071 19.9638 186.992 18.5896 186.13 17.7037C185.269 16.8178 183.37 16.8282 183.37 16.8282C183.37 16.8282 184.564 15.2483 184.511 14.8088C184.457 14.3693 184.078 13.4346 184.078 13.4346C184.078 13.4346 182.463 13.9752 181.544 15.4959C180.625 17.0166 180.545 18.2792 180.545 18.2792Z"
            fill="white"
          />
          <path
            d="M147.887 53.4017C147.501 53.2727 147.508 52.7181 147.508 52.2995C147.508 51.881 153.384 39.391 158.476 33.5907C163.253 28.1462 170.221 23.7166 173.628 21.3868C179.232 17.5571 191.053 13.2252 191.811 13.0299C192.569 12.8346 193.002 13.138 192.221 13.581C191.44 14.0239 183.634 16.5247 174.221 22.2727C166.553 26.9534 162.939 30.5877 160.172 34.222C157.404 37.8564 154.07 43.1684 152.921 45.6587C151.773 48.149 150.081 51.7659 149.866 52.2368C149.61 52.8123 148.435 53.5866 147.887 53.4017Z"
            fill="#E9D400"
          />
          <path
            d="M25.266 50.8645V54.6445H12.974V34.2465H17.706V50.8645H25.266ZM35.7461 45.6425C35.7461 45.2972 35.6994 44.9612 35.6061 44.6345C35.5221 44.3079 35.3774 44.0185 35.1721 43.7665C34.9761 43.5052 34.7148 43.2952 34.3881 43.1365C34.0614 42.9779 33.6648 42.8985 33.1981 42.8985C32.3768 42.8985 31.7328 43.1365 31.2661 43.6125C30.7994 44.0792 30.4914 44.7559 30.3421 45.6425H35.7461ZM30.2861 48.1625C30.4261 49.3759 30.7948 50.2579 31.3921 50.8085C31.9894 51.3499 32.7594 51.6205 33.7021 51.6205C34.2061 51.6205 34.6401 51.5599 35.0041 51.4385C35.3681 51.3172 35.6901 51.1819 35.9701 51.0325C36.2594 50.8832 36.5208 50.7479 36.7541 50.6265C36.9968 50.5052 37.2488 50.4445 37.5101 50.4445C37.8554 50.4445 38.1168 50.5705 38.2941 50.8225L39.5541 52.3765C39.1061 52.8899 38.6208 53.3099 38.0981 53.6365C37.5848 53.9539 37.0528 54.2059 36.5021 54.3925C35.9608 54.5699 35.4148 54.6912 34.8641 54.7565C34.3228 54.8312 33.8048 54.8685 33.3101 54.8685C32.2928 54.8685 31.3361 54.7052 30.4401 54.3785C29.5534 54.0425 28.7741 53.5479 28.1021 52.8945C27.4394 52.2412 26.9121 51.4292 26.5201 50.4585C26.1374 49.4879 25.9461 48.3585 25.9461 47.0705C25.9461 46.0999 26.1094 45.1805 26.4361 44.3125C26.7721 43.4445 27.2481 42.6839 27.8641 42.0305C28.4894 41.3772 29.2408 40.8592 30.1181 40.4765C31.0048 40.0939 32.0034 39.9025 33.1141 39.9025C34.0754 39.9025 34.9528 40.0519 35.7461 40.3505C36.5488 40.6492 37.2348 41.0832 37.8041 41.6525C38.3828 42.2219 38.8308 42.9219 39.1481 43.7525C39.4748 44.5739 39.6381 45.5072 39.6381 46.5525C39.6381 46.8792 39.6241 47.1452 39.5961 47.3505C39.5681 47.5559 39.5168 47.7192 39.4421 47.8405C39.3674 47.9619 39.2648 48.0459 39.1341 48.0925C39.0128 48.1392 38.8541 48.1625 38.6581 48.1625H30.2861ZM46.1498 33.6865V45.4325H46.7938C47.0645 45.4325 47.2698 45.3952 47.4098 45.3205C47.5498 45.2365 47.6898 45.1012 47.8298 44.9145L50.5738 40.8265C50.7418 40.5932 50.9332 40.4205 51.1478 40.3085C51.3625 40.1872 51.6378 40.1265 51.9738 40.1265H55.9498L52.1978 45.2925C51.8432 45.7592 51.4232 46.1419 50.9378 46.4405C51.1525 46.5992 51.3485 46.7859 51.5258 47.0005C51.7032 47.2059 51.8712 47.4392 52.0298 47.7005L56.1178 54.6445H52.1978C51.8712 54.6445 51.5912 54.5932 51.3578 54.4905C51.1245 54.3785 50.9285 54.1872 50.7698 53.9165L48.0258 48.7785C47.8952 48.5452 47.7598 48.3959 47.6198 48.3305C47.4798 48.2559 47.2698 48.2185 46.9898 48.2185H46.1498V54.6445H41.8098V33.6865H46.1498ZM61.7905 41.4005C62.3131 40.9525 62.8778 40.5932 63.4845 40.3225C64.1005 40.0425 64.8331 39.9025 65.6825 39.9025C66.4758 39.9025 67.1758 40.0425 67.7825 40.3225C68.3985 40.5932 68.9165 40.9759 69.3365 41.4705C69.7565 41.9559 70.0738 42.5392 70.2885 43.2205C70.5031 43.8925 70.6105 44.6252 70.6105 45.4185V54.6445H66.2705V45.4185C66.2705 44.7092 66.1071 44.1585 65.7805 43.7665C65.4538 43.3652 64.9731 43.1645 64.3385 43.1645C63.8625 43.1645 63.4145 43.2672 62.9945 43.4725C62.5838 43.6685 62.1825 43.9392 61.7905 44.2845V54.6445H57.4505V33.6865H61.7905V41.4005ZM80.9092 48.7365C80.0412 48.7739 79.3272 48.8485 78.7672 48.9605C78.2072 49.0725 77.7639 49.2125 77.4372 49.3805C77.1106 49.5485 76.8819 49.7399 76.7512 49.9545C76.6299 50.1692 76.5692 50.4025 76.5692 50.6545C76.5692 51.1492 76.7046 51.4992 76.9752 51.7045C77.2459 51.9005 77.6426 51.9985 78.1652 51.9985C78.7252 51.9985 79.2152 51.9005 79.6352 51.7045C80.0552 51.5085 80.4799 51.1912 80.9092 50.7525V48.7365ZM73.0972 42.1425C73.9746 41.3679 74.9452 40.7939 76.0092 40.4205C77.0826 40.0379 78.2306 39.8465 79.4532 39.8465C80.3306 39.8465 81.1192 39.9912 81.8192 40.2805C82.5286 40.5605 83.1259 40.9572 83.6112 41.4705C84.1059 41.9745 84.4839 42.5765 84.7452 43.2765C85.0066 43.9765 85.1372 44.7419 85.1372 45.5725V54.6445H83.1492C82.7386 54.6445 82.4259 54.5885 82.2112 54.4765C82.0059 54.3645 81.8332 54.1312 81.6932 53.7765L81.3852 52.9785C81.0212 53.2865 80.6712 53.5572 80.3352 53.7905C79.9992 54.0239 79.6492 54.2245 79.2852 54.3925C78.9306 54.5512 78.5479 54.6679 78.1372 54.7425C77.7359 54.8265 77.2879 54.8685 76.7932 54.8685C76.1306 54.8685 75.5286 54.7845 74.9872 54.6165C74.4459 54.4392 73.9839 54.1825 73.6012 53.8465C73.2279 53.5105 72.9386 53.0952 72.7332 52.6005C72.5279 52.0965 72.4252 51.5179 72.4252 50.8645C72.4252 50.3419 72.5559 49.8145 72.8172 49.2825C73.0786 48.7412 73.5312 48.2512 74.1752 47.8125C74.8192 47.3645 75.6872 46.9912 76.7792 46.6925C77.8712 46.3939 79.2479 46.2259 80.9092 46.1885V45.5725C80.9092 44.7232 80.7319 44.1119 80.3772 43.7385C80.0319 43.3559 79.5372 43.1645 78.8932 43.1645C78.3799 43.1645 77.9599 43.2205 77.6332 43.3325C77.3066 43.4445 77.0126 43.5705 76.7512 43.7105C76.4992 43.8505 76.2519 43.9765 76.0092 44.0885C75.7666 44.2005 75.4772 44.2565 75.1412 44.2565C74.8426 44.2565 74.5906 44.1819 74.3852 44.0325C74.1799 43.8832 74.0119 43.7059 73.8812 43.5005L73.0972 42.1425Z"
            fill="#FF5733"
          />
          <path
            d="M95.2833 44.2565C96.5153 44.2565 97.4019 43.9625 97.9433 43.3745C98.4846 42.7865 98.7553 41.9652 98.7553 40.9105C98.7553 40.4439 98.6853 40.0192 98.5453 39.6365C98.4053 39.2539 98.1906 38.9272 97.9013 38.6565C97.6213 38.3765 97.2619 38.1619 96.8233 38.0125C96.3939 37.8632 95.8806 37.7885 95.2833 37.7885H92.8193V44.2565H95.2833ZM95.2833 34.2465C96.7206 34.2465 97.9526 34.4192 98.9793 34.7645C100.015 35.1005 100.865 35.5672 101.527 36.1645C102.199 36.7619 102.694 37.4665 103.011 38.2785C103.329 39.0905 103.487 39.9679 103.487 40.9105C103.487 41.9279 103.324 42.8612 102.997 43.7105C102.671 44.5599 102.171 45.2879 101.499 45.8945C100.827 46.5012 99.9733 46.9772 98.9373 47.3225C97.9106 47.6585 96.6926 47.8265 95.2833 47.8265H92.8193V54.6445H88.0873V34.2465H95.2833ZM112.464 48.7365C111.596 48.7739 110.882 48.8485 110.322 48.9605C109.762 49.0725 109.319 49.2125 108.992 49.3805C108.665 49.5485 108.437 49.7399 108.306 49.9545C108.185 50.1692 108.124 50.4025 108.124 50.6545C108.124 51.1492 108.259 51.4992 108.53 51.7045C108.801 51.9005 109.197 51.9985 109.72 51.9985C110.28 51.9985 110.77 51.9005 111.19 51.7045C111.61 51.5085 112.035 51.1912 112.464 50.7525V48.7365ZM104.652 42.1425C105.529 41.3679 106.5 40.7939 107.564 40.4205C108.637 40.0379 109.785 39.8465 111.008 39.8465C111.885 39.8465 112.674 39.9912 113.374 40.2805C114.083 40.5605 114.681 40.9572 115.166 41.4705C115.661 41.9745 116.039 42.5765 116.3 43.2765C116.561 43.9765 116.692 44.7419 116.692 45.5725V54.6445H114.704C114.293 54.6445 113.981 54.5885 113.766 54.4765C113.561 54.3645 113.388 54.1312 113.248 53.7765L112.94 52.9785C112.576 53.2865 112.226 53.5572 111.89 53.7905C111.554 54.0239 111.204 54.2245 110.84 54.3925C110.485 54.5512 110.103 54.6679 109.692 54.7425C109.291 54.8265 108.843 54.8685 108.348 54.8685C107.685 54.8685 107.083 54.7845 106.542 54.6165C106.001 54.4392 105.539 54.1825 105.156 53.8465C104.783 53.5105 104.493 53.0952 104.288 52.6005C104.083 52.0965 103.98 51.5179 103.98 50.8645C103.98 50.3419 104.111 49.8145 104.372 49.2825C104.633 48.7412 105.086 48.2512 105.73 47.8125C106.374 47.3645 107.242 46.9912 108.334 46.6925C109.426 46.3939 110.803 46.2259 112.464 46.1885V45.5725C112.464 44.7232 112.287 44.1119 111.932 43.7385C111.587 43.3559 111.092 43.1645 110.448 43.1645C109.935 43.1645 109.515 43.2205 109.188 43.3325C108.861 43.4445 108.567 43.5705 108.306 43.7105C108.054 43.8505 107.807 43.9765 107.564 44.0885C107.321 44.2005 107.032 44.2565 106.696 44.2565C106.397 44.2565 106.145 44.1819 105.94 44.0325C105.735 43.8832 105.567 43.7059 105.436 43.5005L104.652 42.1425ZM128.272 44.0185C127.945 43.6545 127.591 43.4025 127.208 43.2625C126.825 43.1132 126.424 43.0385 126.004 43.0385C125.603 43.0385 125.234 43.1179 124.898 43.2765C124.562 43.4352 124.268 43.6919 124.016 44.0465C123.773 44.3919 123.582 44.8445 123.442 45.4045C123.302 45.9645 123.232 46.6412 123.232 47.4345C123.232 48.1999 123.288 48.8439 123.4 49.3665C123.512 49.8892 123.666 50.3139 123.862 50.6405C124.067 50.9579 124.31 51.1865 124.59 51.3265C124.87 51.4665 125.183 51.5365 125.528 51.5365C125.845 51.5365 126.13 51.5085 126.382 51.4525C126.643 51.3872 126.881 51.2985 127.096 51.1865C127.311 51.0745 127.511 50.9345 127.698 50.7665C127.894 50.5892 128.085 50.3885 128.272 50.1645V44.0185ZM132.612 33.6865V54.6445H129.924C129.383 54.6445 129.028 54.4019 128.86 53.9165L128.524 52.8105C128.235 53.1185 127.931 53.3985 127.614 53.6505C127.297 53.9025 126.951 54.1219 126.578 54.3085C126.214 54.4859 125.817 54.6212 125.388 54.7145C124.968 54.8172 124.511 54.8685 124.016 54.8685C123.26 54.8685 122.56 54.7005 121.916 54.3645C121.272 54.0285 120.717 53.5432 120.25 52.9085C119.783 52.2739 119.415 51.4992 119.144 50.5845C118.883 49.6605 118.752 48.6105 118.752 47.4345C118.752 46.3519 118.901 45.3485 119.2 44.4245C119.499 43.4912 119.919 42.6885 120.46 42.0165C121.011 41.3352 121.669 40.8032 122.434 40.4205C123.199 40.0379 124.044 39.8465 124.968 39.8465C125.724 39.8465 126.359 39.9539 126.872 40.1685C127.385 40.3832 127.852 40.6725 128.272 41.0365V33.6865H132.612ZM139.982 40.1265V54.6445H135.642V40.1265H139.982ZM140.43 36.1505C140.43 36.4959 140.36 36.8225 140.22 37.1305C140.08 37.4292 139.889 37.6952 139.646 37.9285C139.404 38.1525 139.119 38.3345 138.792 38.4745C138.475 38.6052 138.134 38.6705 137.77 38.6705C137.416 38.6705 137.084 38.6052 136.776 38.4745C136.468 38.3345 136.193 38.1525 135.95 37.9285C135.717 37.6952 135.53 37.4292 135.39 37.1305C135.26 36.8225 135.194 36.4959 135.194 36.1505C135.194 35.7959 135.26 35.4645 135.39 35.1565C135.53 34.8485 135.717 34.5779 135.95 34.3445C136.193 34.1112 136.468 33.9292 136.776 33.7985C137.084 33.6679 137.416 33.6025 137.77 33.6025C138.134 33.6025 138.475 33.6679 138.792 33.7985C139.119 33.9292 139.404 34.1112 139.646 34.3445C139.889 34.5779 140.08 34.8485 140.22 35.1565C140.36 35.4645 140.43 35.7959 140.43 36.1505Z"
            fill="#5DADE2"
          />
        </svg>
      </a>
    </div>

    <div class="center search-menu w-1/2">
      <ul class="font-medium border border-gray-100 search-menu w-full">
        <li class="navitem px-3">
          <form
            action="/search"
            method="GET"
            class="flex justify-center bg-white overflow-hidden border border-solid border-gray-500 rounded-full"
          >
            <input
              type="search"
              placeholder="Search..."
              name="keyword"
              class="block flex-grow p-2 p-3 w-full"
              value=""
              required
            />
            <button type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 my-auto m-2"
                style="color: gray"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                />
              </svg>
            </button>
          </form>
        </li>
      </ul>
    </div>

    <div class="right actionBtn flex items-center">
      <% if(user === undefined) { %>
      <a
        href="/login"
        class="font-medium rounded-2xl text-md px-4 py-2 text-center right-menu hover:scale-110 transition-all duration-300"
        title="Login Button"
      >
        Login
      </a>
      <a
        href="/signup"
        class="text-white bg-secondary font-medium rounded-2xl text-md px-4 py-2 text-center right-menu hover:scale-110 transition-all duration-300	"
        title="Login Button"
      >
        Sign Up
      </a>

      <% } else { %>

      <!-- component -->
      <!-- This is an example component -->
      <div class="max-w-lg">
        <button
          class="font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
          type="button"
          data-dropdown-toggle="dropdown"
        >
          <div
            class="inline-block h-10 w-10 border-1 border-solid rounded-full border-orange-500"
          >
            <img
              src="/images/loginBG.png"
              alt=""
              class="object-cover h-full w-full rounded-full"
            />
          </div>
          <span class="pl-1 text-md"> @<%=user.username%> </span>
        </button>

        <!-- Dropdown menu -->
        <div
          class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4"
          id="dropdown"
        >
          <div class="px-4 py-3">
            <span class="block text-sm"><%=user.fullname%></span>
            <span class="block text-sm font-medium text-gray-900 truncate"
              ><%=user.email%></span
            >
          </div>
          <ul class="py-1" aria-labelledby="dropdown">
            <li>
              <a
                href="/draft"
                class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2 font-semibold"
                >New Blog</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"
                >Account</a
              >
            </li>
            <li>
              <a
                href="/logout"
                class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>

      <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>

      <% } %>
      <button class="menu-toggler relative pointer border-none w-7 ml-3">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
